adf-metadata-driven-001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-metadata-driven-001"
		},
		"LS_ADLS_MetadataDriven_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdatafactory001.dfs.core.windows.net/"
		},
		"LS_AKV_MetadataDrivenProject_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-metadata-driven-001.vault.azure.net/"
		},
		"LS_ASQL_Control_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "control-001"
		},
		"LS_ASQL_DynamicSource_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "adventure-works-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CONTROL_SourceToBronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Data Source",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Load Batch Groups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Load Batch Groups').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Copy Source To Bronze Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_COPY_SourceToBronze",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataSourceName": {
												"value": "@pipeline().parameters.DataSourceName",
												"type": "Expression"
											},
											"LoadBatchGroup": {
												"value": "@item().LoadBatchGroup",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup Load Batch Groups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT DISTINCT [LoadBatchGroup]\nFROM [ctrl].[SourceToBronze]\nWHERE [IsActive] = 1 \nAND [LoadBatchGroup] = 1\nAND [DataSourceName] = ','''',pipeline().parameters.DataSourceName,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DataSourceName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Control')]",
				"[concat(variables('factoryId'), '/pipelines/PL_COPY_SourceToBronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_SourceToBronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup information for copy job",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT [SourceSchemaName],\n[SourceTableName],\n[SinkFileDirectoryName],\n[SourceQueryDefinition]\nFROM [ctrl].[SourceToBronze]\nWHERE [IsActive] = 1\nAND [DataSourceName] = ','''',pipeline().parameters.DataSourceName,'''', ' AND LoadBatchGroup = ',pipeline().parameters.LoadBatchGroup)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For each table to load",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup information for copy job",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup information for copy job').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from source to bronze_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@item().SourceQueryDefinition",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ASQL_AdventureWorksAll",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet",
											"type": "DatasetReference",
											"parameters": {
												"FileDirectory": "MetaDataDrivenIndividualSolution",
												"FileContainer": "bronze",
												"FileName": {
													"value": "@{utcNow()} & item().SourceTableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DataSourceName": {
						"type": "string"
					},
					"LoadBatchGroup": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Control')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_AdventureWorksAll')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MAIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup data sources with active loads",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT(DataSourceName)\nFROM [ctrl].[SourceToBronze]\nWHERE IsActive = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Data Source",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup data sources with active loads",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup data sources with active loads').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Control Pipeline Source To Bronze",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CONTROL_SourceToBronze",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataSourceName": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LinkedServiceName": {
						"type": "String"
					},
					"SourceSchemaName": {
						"type": "String"
					},
					"SourceTableName": {
						"type": "String"
					},
					"SinkFileDirectoryName": {
						"type": "String"
					},
					"SourceQueryDefinition": {
						"type": "String"
					},
					"LoadBatchGroup": {
						"type": "String"
					},
					"DataSourceName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Control')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CONTROL_SourceToBronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_MetadataDriven",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileDirectory": {
						"type": "String"
					},
					"FileContainer": {
						"type": "String"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FileDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FileContainer",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_MetadataDriven')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_AdventureWorksAll')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DynamicSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_DynamicSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_Control')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Control",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_Control')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_MetadataDriven')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_MetadataDriven_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AKV_MetadataDrivenProject')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AKV_MetadataDrivenProject_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_Control')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV_MetadataDrivenProject",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_ASQL_Control_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV_MetadataDrivenProject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_DynamicSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DataSource": {
						"type": "string",
						"defaultValue": "adventure-works-001"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV_MetadataDrivenProject",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_ASQL_DynamicSource_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV_MetadataDrivenProject')]"
			]
		}
	]
}